
    <% layout('./layouts/boilerplate') -%>
    <h1>Campgrounds</h1>
    <a href="/campgrounds/new">Add new Campground</a>
    <div>
        <ul>
            <% for (let campground of campgrounds ) {%>
                <li><a href="/campgrounds/<%=campground._id%>"> <%= campground.title %> - <%= campground.location%></li>
            <% } %>
        </ul> 
    </div>
