<% layout('./layouts/boilerplate') -%>

<div class="row g-3">
    <form class="row g-3" action="/campgrounds" method="POST">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name='campground[title]'>
        </div>
        <div class="col-md-6">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" id="location" name='campground[location]'>
        </div>
        <div class="col-md-6">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name='campground[price]'>
          </div>
          <div class="col-md-6">
            <label for="image" class="form-label">Image URL</label>
            <input type="text" class="form-control" id="image" name='campground[image]'>
          </div>
        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea type="text" class="form-control" id="description" name='campground[description]'> </textarea>
        </div>
          
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>


    
